.App {
  text-align: center;
  max-width: 400px;
  margin: 30px auto;
}

nav {
  padding: 5px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.lista--libros {
  padding: 20px;
  margin-bottom: 20px;
}

.lista--libros ul {
  list-style: none;
  padding: 0;
}

.lista--libros ul li {
  padding: 4px;
  margin: 10px auto;
  /* border: ; */
}